@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&display=swap');

@variant dark (&:where(.dark, .dark *));

body {
    font-family: 'Outfit', sans-serif;
    font-weight: 300;
    /* Default to thin/light */
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}